<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form th:action="@{/login}"th:object="${LoginForm}" method="post">



    <label for="productcode">productcode</label>
    <input type="text"id="productcode"name="productcode">
    
    <label for="productname">productname</label>
    <input type="text"id="productname"name="productname"autofocus="autofocus">
    
    <label for="productprice">productprice</label>
    <input type="text"id="productcode"name="productcode">
    
    <label for="productname">productgst</label>
    <input type="text"id="productname"name="productname"autofocus="autofocus">
    
    <br>
    <input type="submit"value="submit"/>
    
    

</form>-->
Here we are

</body>
</html>